<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Styles/pop-up.css">
    <title>Pop Up</title>
</head>
<body onload="popUpWindowLoaded()">
    <header class="drag-area">
        <div id="timer"><span id="timerMinutes">0</span>:<span id="timerSeconds">00</span></div>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../Scripts/Utilities.js"></script>
    <script src="../Scripts/EventHandlers/ipcCalls.js"></script>
    <script src="../Scripts/EventHandlers/notifyUserTimeIsUp.js"></script>
</body>
</html>