<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Styles/settings.css">
    <title>Settings</title>
</head>
<body>
    <nav>
        <div class="drag-area"></div>
        <div class="drag-area"></div>
        <div class="drag-area"></div>
    </nav>
    <main>
        <button id="doneButton" onclick="doneButtonClicked()">Done</button>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../Scripts/EventHandlers/ipcCalls.js"></script>
</body>
</html>